/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.no-margin{
	margin-top: 0;
	margin-bottom: 0;
}

.panel-padding-top{
	margin-top: 20px;
}

.control-padding{
	margin-top:8px;
	margin-bottom:8px;
}

.panel-title-margin{
	margin-top:8px;
}